 html,
 body,
 div,
 dl,
 dt,
 dd,
 h1,
 h2 {
     margin: 0;
     padding: 0;
 }

 html,
 body {
     width: 100%;
     height: 100%;
     background: #fff;
     font-size: 14px !important;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: 100%;
     font-weight: normal;
 }

 i,
 var,
 em,
 strong {
     font-style: normal;
 }

 .clearfix:after {
     content: "\200B";
     display: block;
     height: 0;
     clear: both;
 }

 .clearfix {
     *zoom: 1;
 }

 ol,
 ul,
 li {
     padding: 0;
     margin: 0;
     list-style: none
 }

 a {
     text-decoration: none;
     outline: none
 }

 a:hover {
     color: #3b8cff;
 }

 button {
     margin: 0;
     padding: 0;
     border: 1px solid transparent;
     outline: none;
 }

 .checkbox-mine {
     margin: 0 auto;
     border-radius: 4px;
     cursor: pointer;
     display: inline-block;
     width: 22px;
     height: 22px;
     margin-right: 10px;
     vertical-align: middle;
     border: solid 1px rgba(152, 166, 175, 1);
     /*background: #48a0dc;*/
 }

 .per5 {
     width: 5%;
 }

 .per10 {
     width: 10%;
 }

 .per15 {
     width: 15%;
 }

 .per20 {
     width: 25%;
 }

 .per25 {
     width: 25%;
 }

 .per30 {
     width: 30%;
 }

 .per35 {
     width: 35%;
 }

 .per40 {
     width: 40%;
 }

 .per50 {
     width: 50%;
 }

 .per60 {
     width: 60%;
 }

 .per70 {
     width: 70%;
 }

 .per80 {
     width: 80%;
 }

 .per90 {
     width: 90%;
 }

 .per100 {
     width: 100%;
 }

 .text-left {
     text-align: left;
 }

 .text-right {
     text-align: right;
 }

 .text-center {
     text-align: center;
 }

 table {
     width: 100%;
 }

 /* table tr{
    height: 42px;
    line-height: 42px;  
    color: #fff;
    font-size: 16px;
} */

 table tr {
     font-size: 14px;
     color: #000;
 }

 table th,
 td {
     padding: 5px 0px;
 }

 .pl3 {
     padding-left: 3px;
 }

 .pl6 {
     padding-left: 6px;
 }

 .pl9 {
     padding-left: 9px;
 }

 .pl12 {
     padding-left: 12px;
 }

 .pl24 {
     padding-left: 24px;
 }

 .pl36 {
     padding-left: 36px;
 }

 .pl48 {
     padding-left: 48px;
 }

 .nav-item-span {
     cursor: pointer;
 }

 .btn-wrap {
     display: inline-block;
     vertical-align: top;
     padding-top: 2px;
 }

 .set-table-btn {
     z-index: 100;
     position: absolute;
     right: 10px;
     top: 8px;
     width: 25px;
     height: 25px;
     background: url("../../images/common/set_icon.png") no-repeat right center;
 }

 .default-btn {
     display: inline-block;
     vertical-align: middle;
     /* min-width: 99px; */
     min-width: 70px;
     height: 28px;
     text-align: right;
     line-height: 28px;
     border-radius: 4px 4px 4px 4px;
     border: solid 1px rgba(191, 207, 219, 1);
     color: #444;
     /* color: white; */
     margin-right: 12px;
     margin-bottom: 12px;
     cursor: pointer;
     outline: none;
     padding: 0px 5px;
 }

 .default-btn-select {
     color: #fff;
     border: 1px solid #31be91;
     padding-left: 36px;
     text-align: left;
     /* background: #31be91 url(../../img/copy-selete.png) no-repeat 25px center; */
     /* background: #31be91 url($require) */
 }

 .default-btn-img {
     display: inline-block;
     vertical-align: middle;
     width: 60px;
     height: 34px;
     text-align: center;
     line-height: 34px;
     border-radius: 4px 4px 4px 4px;
     border: solid 1px rgba(191, 207, 219, 1);
     font-size: 14px;
     color: #444;
     margin-right: 12px;
     margin-bottom: 12px;
     cursor: pointer;
     position: relative;
     outline: none;
 }

 .btn-add {
     padding: 0 16px 0 36px;
     color: #48a0dc;
     margin: 0;
     margin-bottom: 12px;
     width: auto;
     border: 1px solid #48a0dc;
     /* background: #fff url(../../img/btn-add.png) no-repeat 10px center; */
     /* background: #fff url(${require../../../../../src/images/common/btn-add.png) no-repeat 10px center; */
     background: #fff url("../../images/common/btn-add.png") no-repeat 10px center;
     outline: none;
 }

 .right-wrap {
     /* display: none; */
     position: fixed;
     right: -788px;
     height: 100%;
     /* right: 0px; */
     top: 52px;
     background: #fff;
     width: 788px;
     padding-right: 30px;
     padding-left: 24px;
     box-shadow: -3px 0px 9.5px 0.5px rgba(62, 62, 62, 0.25);
 }

 /*
右侧弹出层
*/

 .right-wrap {
     /*display: none;*/
     position: fixed;
     right: -788px;
     height: 100%;
     /*right: 0px;*/
     /* top: 52px; */
     top: 0px;
     background: #fff;
     width: 788px;
     padding-right: 30px;
     padding-left: 24px;
     box-shadow: -3px 0px 9.5px 0.5px rgba(62, 62, 62, 0.25);
 }

 .right-wraps {
     position: fixed;
     height: 100%;
     /* top: 52px; */
     top: 0px;
     width: 788px;
     right: -788px;
     background: #fff;
     padding-right: 30px;
     padding-left: 24px;
     box-shadow: -3px 0px 9.5px 0.5px rgba(62, 62, 62, 0.25);
 }

 .right-wrap-animate {
     /*display: block;*/
     animation: right-panel 1s;
     -webkit-animation: right-panel 1s;
     animation-fill-mode: forwards;
     /* Safari 和 Chrome */
     -webkit-animation-fill-mode: forwards;
 }

 .right-wrap-show {
     right: 0px;
 }

 .right-wrap-hide {
     right: -788px;
 }

 .right-wrap-animateS {
     animation: right-panelS 1s;
     -webkit-animation: right-panelS 1s;
     animation-fill-mode: forwards;
     /* Safari 和 Chrome */
     -webkit-animation-fill-mode: forwards;
 }
/*
 .back-btn {
     float: right;
     width: 18px;
     height: 34px;
     background: url("../../images/common/back.png") no-repeat center center;
     cursor: pointer;
 }*/

 .back-btn {
     float: right;
     width: 18px;
     height: 34px;
     background: url(../../img/back.png) no-repeat center center;
     cursor: pointer;
 }

 .checkbox-mine-ed {
     border: solid 1px #48a0dc;
     background: #48a0dc url("../../images/common/query-check.png") no-repeat center center;
 }

 .arrow-label {
     background: url("../../images/common/arrow-label.png") no-repeat 0 center;
 }

 .prompt-dialog {
     width: 360px;
     margin: 300px auto 0;
     background: #fff;
     border-radius: 4px;
     overflow: hidden;
 }

 .prompt-txt {
     font-size: 18px;
     overflow: hidden;
     padding: 100px 0px 40px;
     /* background: url("../../img/prompt-del.png") no-repeat center 38px; */
     background: url("../../images/common/prompt-del.png") no-repeat center 38px;
     cursor: pointer;
     text-align: center;
 }

 .prompt-txt2 {
     padding: 40px 0px;
     text-align: center;
     font-size: 16px;
 }

 .prompt-txt-ok {
     /* background: url("../../img/prompt-ok.png") no-repeat center 38px; */
     background: url("../../images/common/prompt-ok.png") no-repeat center 38px;
 }

 .prompt-txt-fail {
     /* background: url("../../img/prompt-fail.png") no-repeat center 38px; */
     background: url("../../images/common/prompt-fail.png") no-repeat center 38px;
 }

 .prompt-set {
     border-top: 1px solid #d4dfe5;
 }

 input.form-control:focus {
     width: 100%;
 }

 .prompt-set span {
     font-size: 16px;
     float: left;
     width: 50%;
     padding: 22px 0;
     text-align: center;
     background: #f1f5f8;
     cursor: pointer;
 }

 .prompt-set .ok {
     color: #46a0dc;
     box-shadow: inset -1px 0 0 #d4dfe5;
 }

 .form-label-s label {
     font-weight: normal;
     text-align: right;
     width: 100px;
 }

 .form-label-s .input {
     width: 350px;
 }

 .form-label-s {
     padding-left: 20px;
     margin-bottom: 12px;
 }

 .form-right-wrap {
     display: inline-block;
     vertical-align: middle;
     width: 92%;
 }

 .custom-select,
 .input {
     outline: none;
     border-radius: 4px 4px 4px 4px;
     border: solid 1px rgba(212, 222, 229, 1);
     height: 32px;
     text-indent: 16px;
     color: #38454f;
     width: 332px;
 }

 .input-wrap {
     width: 400px;
     margin-right: 10px;
     display: inline-block;
     position: relative;
     vertical-align: top;
 }

 .input-wrap .input {
     display: block;
     width: 400px;
     height: 38px;
     border-radius: 20px;
 }

 .input-wrap .search-input {
     position: absolute;
     right: 0;
     top: 0;
     height: 30px;
     width: 38px;
     /* background: url("../../img/search-input.png") no-repeat center center; */
     background: url("../../images/common/search-input.png") no-repeat center center;
 }

 /*.pageLayout-content{
    width: 100%;
    height: 100%;
}
.container-fluid{
    width: 100%;
    height: 100%;
}

.container-fluid .clearfix{ 
    width: 100%;
    height: 100%;
}

#config_btn_panel .head-line{

    height: 46px;
    display: block;
}

.col-xs-12{
    width:100%; 
    height:100%;
}*/

 .item_box {
     width: 100%;
     height: 100%;
 }

 .head-line {
     padding-top: 12px;
     border-bottom: 1px solid #d3d3d3;
     padding-right: 4px;
 }

 /*
::-webkit-scrollbar-track-piece {
    background-color: #FFF
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px
}
::-webkit-scrollbar-thumb:hover {
    background-color: #A0A0A0
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

html{color:#000;background:#f1f5f8;font-family:Arial,'Microsoft YaHei';font-size: 14px;}
html {
height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,
h5,h6,pre,code,form,fieldset,legend,
input,button,textarea,p,blockquote,th,td,strong{
padding:0;
margin:0;
font-size: 14px;
}
body {
background-color:#f1f5f8
}
li {
list-style: none;
}
em,strong {
font-style: normal;
font-weight: normal;
}
label {
font-weight: normal;
}
h2 {
font-size: 16px;
font-weight: normal;
}
h3 {
font-size: 14px;
font-weight: normal;
}
.content-wrap {
position: relative;
padding: 23px 20px 25px;
}
.bread-nav {
padding-left: 40px;
color: #999;
background: url("../../img/bread-nav.png") no-repeat 20px center;
}
.cur-title a {
color: #000;
}
.common-header {
height: 52px;
background: #fff;
border-bottom: 1px solid #b5b8ba;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 999;
}
.logo {
float: left;
width: 248px;
padding-left: 48px;
height: 51px;
background: #57a3f2;
padding-top: 7px;
}
.index-logo{
float: left;
width: 168px;
padding-left: 48px;
height: 51px;
background: #57a3f2;
padding-top: 7px;
}
.logo img {
display: block;
}
.logo .logo-sm {
display: none
}
.index-logo img {
display: block;
}
.index-logo .logo-sm {
display: none
}
.common-container {
position: relative;
}
.common-container .content {
padding-top: 53px;
padding-left: 248px;
min-width: 1000px;
width:100%;
height: 100%;
}
.common-container .nav {
z-index: 999;
position: fixed;
top: 52px;
left: 0;
width: 248px;
background: #2d89c8;
bottom: 0;
overflow: auto;
}
.common-container .index-sidebar{
z-index: 999;
position: fixed;
top: 40px;
left: 0;
width: 168px;
background: #2d89c8;
bottom: 0;
overflow: auto;
}
.nav-move-img{
height: 30px;
position: absolute;
width: 100%;
text-align: center;
padding: 0px;
cursor: pointer;
background: #2d89c8;
z-index: 100;
}
.nav-move-img span{
display: block;
margin: 6px 0px;
}
.p_select_img{
    background: url("../../img/orderList/finsh_icon.png") no-repeat;
    width:48px;
    height:48px;
    display: block;
}
.p_no_select_img{
    background: url("../../img/orderList/no_finsh_icon.png") no-repeat;
    width:48px;
    height:48px;
    display: block;
}
.common-container .index-nav {
    z-index: 999;
    position: fixed;
    top: 52px;
    left: 0;
    width: 168px;
    background: #2d89c8;
    bottom: 0;
    overflow: auto;
}
.nav .nav-list .nav-title {
padding-left: 30px;
display: block;
height: 40px;
line-height: 40px;
color: #a1feff;
font-size: 14px;
cursor: pointer;
background: #1c7dbf url("../../img/nav-arrow-r.png") no-repeat 218px center;
}
.nav .nav-list .nav-title-slide {
background: #1c7dbf url("../../img/slide-arrow.png") no-repeat 218px center;
}
.add-btn-supplier{
    color: #fff;
    border: 1px solid #31be91;
    padding-left: 50px;
    text-align: left;
    background: rgba(72, 160, 220, 1) url(../../img/orderList/add_icon.png) no-repeat 10px center;
}
.index-nav .nav-list .nav-title{
padding-left: 30px;
display: block;
height: 40px;
line-height: 40px;
color: #a1feff;
font-size: 14px;
cursor: pointer;
background: #1c7dbf url("../../img/nav-arrow-r.png") no-repeat 145px center;
}
.index-nav .nav-list .nav-title-slide{
background: #1c7dbf url("../../img/slide-arrow.png") no-repeat 145px center;
}
.nav-child-list {
padding-left: 30px;
display: none;
}
.nav-child-list li {
line-height: 34px;
font-size: 14px;
padding-left: 25px;
}
.nav-child-list li a {
display: block;
color: #ffffff;
font-size: 12px;
}
.nav-child-list li a.def {
color: #f6ff8c;
}

.cur-title {
float: left;
line-height: 52px;
font-size: 18px;
padding-left: 27px;
}
.nav_scale_style{
width:28px;
}
.nav_default_style{
float: left;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width:100px;
}

.nav-title .icons {
display: inline-block;
vertical-align: middle;
width: 21px;
height: 21px;
}
.nav-title .icon-index {
background: url("../../img/icon-index.png") no-repeat left 0;
}
.nav-title .icon-menu {
background: url("../../img/icon-menu.png") no-repeat left 0;
}
.nav-title .icon-sp {
background: url("../../img/icon-sp.png") no-repeat left 0;
}
.nav-title .icon-component {
background: url("../../img/icon-component.png") no-repeat left 0;
}
.nav-title .icon-basedata {
background: url("../../img/icon-basedata.png") no-repeat left 0;
}
.custom-select,
.input {
outline: none;
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(212, 222, 229, 1);
height: 32px;
text-indent: 16px;
color: #38454f;
width: 332px;
}
.select-ul {
display: none;
position: absolute;
background: #fff;
border: 1px solid #dedede;
width: 100%;
top: 31px;
z-index: 999;
min-height: 50px;
overflow: auto;
max-height: 300px;
}
.select-ul li {
height: 32px;
line-height: 32px;
cursor: pointer;
}
.select-ul li:hover {
background: #f6f6f6;
}


.default-btn {
display: inline-block;
vertical-align: middle;
min-width:70px;
height:28px;
text-align: center;
line-height:28px;
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(191, 207, 219, 1);
color: #444;
margin-right: 12px;
margin-bottom: 12px;
cursor: pointer;
outline: none;
padding:0px 5px;
}
.default-button {
    display: inline-block;
    vertical-align: middle;
    width: 99px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(191, 207, 219, 1);
    color: #444;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    outline: none;
    background: #ffffff;
}
.green-ben-check {
    display: inline-block;
    vertical-align: middle;
    width: 99px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(191, 207, 219, 1);
    font-size: 14px;
    color: #444;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    outline: none;
    background: #31be91;
    color: white;
}
.red-ben-check {
    display: inline-block;
    vertical-align: middle;
    width: 99px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(191, 207, 219, 1);
    font-size: 14px;
    color: #444;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    outline: none;
    background: #f16957;
    color: white;
    border: 0px;
}
.default-white-btn{
background: white;
color: #48a0dc;
border-radius: 4px 4px 4px 4px;
border: solid 1px #48a0dc;
}
.green-btn-conver{
display: inline-block;
vertical-align: middle;
width: 70px;
height: 34px;
text-align: center;
line-height: 34px;
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(191, 207, 219, 1);
font-size: 14px;
color: #444;
margin-right: 12px;
margin-bottom: 12px;
cursor: pointer;
outline: none;
background: #31be91;
color: white;
}
.green-default-btn-conver{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(191, 207, 219, 1);
    font-size: 14px;
    color: #444;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    outline: none;
    background: #ccc;
    color: white;
}
.btn-more {
background-color: rgba(202, 231, 255, 1);
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(169, 216, 255, 1);
color: #457fa6;
}
.btn-wrap {
display: inline-block;vertical-align: top;
padding-top:2px;
}
.btn-cancle-gray {
width: 80px;
background-color: rgba(238, 240, 241, 1);
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(221, 224, 227, 1);
cursor: pointer;
background: white;
}
.default-btn-tab {
    display: inline-block;
    vertical-align: middle;
    padding:0px 20px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(191, 207, 219, 1);
    font-size: 14px;
    color: #444;
    margin-right: 12px;
    cursor: pointer;
    background: white;
}
.default-btn-img {
display: inline-block;
vertical-align: middle;
width: 60px;
height: 34px;
text-align: center;
line-height: 34px;
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(191, 207, 219, 1);
font-size: 14px;
color: #444;
margin-right: 12px;
margin-bottom: 12px;
cursor: pointer;
position: relative;
outline:none;
}
.default-btn-img em {
position: absolute;
bottom: 0;
right: 0;
width: 20px;
height: 20px;
background: url("../../img/gou.png") no-repeat center center;
}
.custom-select {
position: relative;
width: auto;
display: inline-block;
vertical-align: middle;
}
.custom-select input {
float: left;
border: none;
height: 30px;
width: 300px;
}
.custom-select .slide {
cursor: pointer;
float: right;
width: 34px;
height: 30px;
border-left: 1px solid rgba(191, 207, 219, 1);
background: url("../../img/select-arrow.png") no-repeat center center;
}
.custom-select .search {
float: right;
width: 34px;
height: 34px;
background: url("../../img/select-search.png") no-repeat center center;
}
.textarea {
padding: 10px;
outline: none;
resize: none;
width: 410px;
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(212, 222, 229, 1);
height: 78px;
}
.btn-ok {
width: 80px;
background-color: rgba(72, 160, 220, 1);
border: 1px solid rgba(72, 160, 220, 1);
color: #fff;
}
.btn-cancle {
width: 80px;
}


.mui-switch {
width: 52px;
height: 31px;
position: relative;
border: 1px solid #dfdfdf;
background-color: #fdfdfd;
box-shadow: #dfdfdf 0 0 0 0 inset;
border-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-clip: content-box;
display: inline-block;
-webkit-appearance: none;
user-select: none;
outline: none;
}

.mui-switch:before {
content: '';
width: 29px;
height: 29px;
position: absolute;
top: 0px;
left: 0;
border-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-color: #fff;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
box-shadow: #64bd63 0 0 0 16px inset;
background-color: #64bd63;
}

.mui-switch:checked:before {
left: 21px;
}

.mui-switch.mui-switch-animbg {
transition: background-color ease 0.4s;
outline: none !important;
}

.mui-switch.mui-switch-animbg:before {
transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
box-shadow: #dfdfdf 0 0 0 0 inset;
background-color: rgba(72, 160, 220, 1);
transition: border-color 0.4s, background-color ease 0.4s;
outline: none;
}

.mui-switch.mui-switch-animbg:checked:before {
transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
box-shadow: #64bd63 0 0 0 16px inset;
background-color: #64bd63;
transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
transition: left 0.3s;
}
.close-label,
.show-b label {
height: 30px;
padding: 0 28px 0 14px;
margin-right: 10px;
display: inline-block;
vertical-align: middle;
color: #fff;
position: relative;
line-height: 30px;
background-color: rgba(68, 202, 203, 1);
border-radius: 15px 15px 15px 15px;
}
.select-lable-del{
height: 30px;
padding: 0 28px 0 14px;
margin-right: 10px;
display: inline-block;
vertical-align: middle;
color: #fff;
position: relative;
line-height: 30px;
background-color: rgba(68, 202, 203, 1);
border-radius: 15px 15px 15px 15px;
}
.delete-form-field{
cursor: pointer;
position: absolute;
bottom: 0;
right: 0;
width: 30px;
height: 30px;
background: url(../../img/delete-circle.png) no-repeat center center;
}
.close-label-gray {
background-color: #ccc;
}
.close-label em,
.show-b label em {
cursor: pointer;
position: absolute;
bottom: 0;
right: 0;
width: 30px;
height: 30px;
background: url("../../img/delete-circle.png") no-repeat center center;
}
.query-btn-check {

}
.btn-field {
position: relative;
background-color: rgba(72, 160, 220, 1);
border: 1px solid rgba(72, 160, 220, 1);
color: #fff;
}
.btn-field-null {
background-color: #fff;
color: #666;
}
.btn-field-null em {
display: none;
}
.btn-field em {
position: absolute;
bottom: 0;
right: 0;
width: 20px;
height: 20px;
background: url("../../img/gou.png") no-repeat center center;
}
.back-btn {
float: right;
width: 18px;
height: 34px;
background: url("../../img/back.png") no-repeat center center;
cursor: pointer;
}
.reg-back-btn{
width:18px;
height:34px;
background: url("../../img/regback.png") no-repeat center center;
cursor: pointer;
position: absolute;
margin-left: 26px;
}
.return-back-btn{
    width:18px;
    height:34px;
    background: url("../../img/back.png") no-repeat center center;
    cursor: pointer;
    position: absolute;
    margin-left: 26px;
}
.query-btn-check {
color: #fff;
border: 1px solid #31be91;
padding-left: 50px;
text-align: left;
background: #31be91 url("../../img/query-check.png") no-repeat 25px center;
}
.copy-btn-check{
color: #fff;
border: solid 1px rgba(212, 222, 229, 1);
padding-left: 50px;
text-align: left;
background: #ffffff url("../../img/copy.png") no-repeat 10px center;
}
.copy-btn-check-select{
    color: #fff;
    border: solid 1px rgba(72, 160, 220, 1);
    padding-left: 50px;
    text-align: left;
    background: rgba(72, 160, 220, 1) url("../../img/copy-selete.png") no-repeat 10px center;
}
.default-btn-select{
    color: #fff;
    border: 1px solid #31be91;
    padding-left: 36px;
    text-align: left;
    background: #31be91 url(../../img/copy-selete.png) no-repeat 25px center;
}
.pencil-btn-check{
color: #fff;
border: solid 1px rgba(212, 222, 229, 1);
padding-left: 50px;
text-align: left;
background: #ffffff url("../../img/pencil.png") no-repeat 10px center;
}
.delete-btn-check{
color: #fff;
border: solid 1px rgba(212, 222, 229, 1);
padding-left: 50px;
text-align: left;
background: #ffffff url("../../img/delete.png") no-repeat 10px center;
}
.add-btn-check{
color: #fff;
border: solid 1px rgba(212, 222, 229, 1);
padding-left: 50px;
text-align: left;
background: #ffffff url("../../img/add.png") no-repeat 10px center;
}
.download-btn-check{
    color: #fff;
    border: solid 1px rgba(212, 222, 229, 1);
    padding-left: 50px;
    text-align: left;
    background: #ffffff url("../../img/list/icon-load.png") no-repeat 10px center;
}
.label-btn-check{
    color: #fff;
    border: solid 1px rgba(212, 222, 229, 1);
    padding-left: 50px;
    text-align: left;
    background: #ffffff url("../../img/list/icon-label.png") no-repeat 10px center;
}
.queding-btn-check{
    color: #fff;
    border: solid 1px rgba(212, 222, 229, 1);
    padding-left: 50px;
    text-align: left;
    background: #ffffff url("../../img/list/icon-check.png") no-repeat 10px center;
}
.del-btn-check{
    color: #fff;
    border: solid 1px rgba(212, 222, 229, 1);
    padding-left: 50px;
    text-align: left;
    background: #ffffff url("../../img/list/icon-del.png") no-repeat 10px center;
}
.condition_item{
border: solid 1px rgba(212, 222, 229, 1);
height: 50px;
margin-bottom: 10px;
background: #F6F6F6;
width:98%;
}
.add_row_icon{
margin:3px 10px;
}
.condition_select{
width: 120px;
float: left;
margin:8px;
}
.ms-ctn .dropdown-menu{
min-width:100%;
}

.condition_add_img{
margin: 12px;
cursor: pointer;
}
.condition_delete_img{
cursor: pointer;
margin: 14px 4px;
}
.modal-mine .modal-dialog {
width: auto;
min-width: 600px;
display: inline-block;
}

.user-seting {
float: right;
padding-top: 14px;
padding-right: 30px;
}
.user-seting span {
display: inline-block;
vertical-align: middle;
height: 25px;
line-height: 25px;
color: #444;
cursor: pointer;
}
.user-seting .lisc {
margin-left: 30px;
padding: 0 30px 0 15px;
border-left: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
}
.user-seting .out {
margin-left: 20px;
width: 20px;
height: 20px;
background: url("../../img/sign-out.png") no-repeat center center;
}
.btn-add {
padding: 0 16px 0 36px;
color: #48a0dc;
margin: 0;
margin-bottom: 12px;
width: auto;
border: 1px solid #48a0dc;
background: #fff url("../../img/btn-add.png") no-repeat 10px center;
outline: none;
}
.configurat-list-btn {
    padding: 0 16px 0 36px;
    color: #48a0dc;
    margin: 0;
    width: auto;
    border: 1px solid #48a0dc;
    background: #fff url("../../img/configurat-list-btn.png") no-repeat 10px center;
    outline: none;
    float: right;
}
.condition-btn{
background: #31be91;
color: #ffffff;
padding: 6px 25px 6px 8px;
font-size: 12px;
border-radius: 20px;
position: relative;
margin: 5px;
float: left;
}
.condition-btn em{
position: absolute;
right: 4px;
width: 16px;
height: 16px;
background: url("../../img/list/close2_white.png") no-repeat center center;
top:5px;
cursor: pointer;
}
.btn-add-white {
padding: 0 16px 0 36px;
margin: 0;
width: auto;
border: 1px solid #48a0dc;
outline: none;
color: #fff;
background: #48a0dc url("../../img/add-white.png") no-repeat 10px center;
}
.btn-add-green {
background: #44cacb;
color: #fff;
width: 70px;
border: 1px solid #44cacb;
}

.add-fb-tj {
display: inline-block;
vertical-align: middle;
width: 22px;
height: 22px;
margin-left: 10px;
cursor: pointer;
background: url("../../img/add-fb-tj.png") no-repeat center center;
}

.right-wrap {
position: fixed;
right: -788px;
height: 100%;
top: 52px;
background: #fff;
width: 788px;
padding-right: 30px;
padding-left: 24px;
box-shadow: -3px 0px 9.5px 0.5px
    rgba(62, 62, 62, 0.25);
}
.right-wraps {
    position: fixed;
    height: 100%;
    top: 52px;
    width: 788px;
    right: -788px;
    background: #fff;
    padding-right: 30px;
    padding-left: 24px;
    box-shadow: -3px 0px 9.5px 0.5px
    rgba(62, 62, 62, 0.25);
}
.right-wrap-animate {
animation: right-panel 1s;
-webkit-animation: right-panel 1s;
animation-fill-mode:forwards;

 -webkit-animation-fill-mode:forwards;
}
.right-wrap-show{
right: 0px;
}
.right-wrap-hide{
right: -788px;
}

.right-wrap-animateS {
animation: right-panelS 1s;
-webkit-animation: right-panelS 1s;
animation-fill-mode:forwards;

 -webkit-animation-fill-mode:forwards;
}

@keyframes right-panel {
from {right: -788px;opacity: 0.5}
to {right: 0px;opacity: 1}
}
@-webkit-keyframes right-panel {
from {right: -788px;opacity: 0.5}
to {right: 0px;opacity: 1}
}

@keyframes right-panelS {
form {right: 0px;opacity: 1}
to {right: -788px;opacity: 0.5}
}
@-webkit-keyframes right-panelS {
form {right: 0px;opacity: 1}
to {right: -788px;opacity: 0.5}
}

.head-line {
padding-top: 12px;
border-bottom: 1px solid #d3d3d3;
padding-right: 4px;
}


.show-b {
padding: 10px 15px;
width: 420px;
background-color: rgba(247, 248, 249, 1);
border-radius: 4px 4px 4px 4px;
border: solid 1px rgba(212, 222, 229, 1);
min-height: 106px;
margin-bottom: 24px;
}

.arrow-label{
padding-left: 20px;
color: #48a0dc;
font-size: 14px;
cursor: pointer;
}
.arrow-label{
float: left;
background: url("../../img/arrow-label.png") no-repeat 0 center;
}
.arrow-label {
float: none;
}

.select-canshu {
float: left;
margin-right: 10px;
}
.select-val .input,
.select-canshu .input {
width: 198px;
}
.select-val .t,
.select-canshu .t {
display: block;
color: #444444;
margin-bottom: 10px;
font-size: 14px;
height: 18px;
}
.select-val {
float: left;
}

.prompt-dialog {
width: 360px;
margin: 300px auto 0;
background: #fff;
border-radius: 4px;
overflow: hidden;
}
.prompt-txt {
font-size: 18px;
overflow: hidden;
padding: 100px 0px 40px;
background: url("../../img/prompt-del.png") no-repeat center 38px;
text-align: center;
}
.prompt-txt2{
padding: 40px 0px;
text-align: center;
font-size: 16px;
}
.prompt-txt-ok {
background: url("../../img/prompt-ok.png") no-repeat center 38px;
}
.prompt-txt-fail {
background: url("../../img/prompt-fail.png") no-repeat center 38px;
}
.prompt-set {
border-top: 1px solid #d4dfe5;
}
input.form-control:focus{
    width: 100%;
}

.prompt-set span {
font-size: 16px;
float: left;
width: 50%;
padding: 22px 0;
text-align: center;
background: #f1f5f8;
cursor: pointer;
}
.prompt-set .ok {
color: #46a0dc;
box-shadow: inset -1px 0 0 #d4dfe5;
}

.form-label-s label {
font-weight: normal;
text-align: right;
width: 100px;
}
.form-label-s .input {
width: 350px;
}
.form-label-s {
padding-left: 20px;
margin-bottom: 12px;
}
.form-right-wrap {
display: inline-block;
vertical-align: middle;
width:92%;
}

.list-title span {
cursor: pointer;
display: inline-block;
vertical-align: middle;
font-size: 14px;
padding: 0 20px 10px;
}
.list-title span.def {
border-bottom: 2px solid rgb(47, 145, 211);
color: rgb(47, 145, 211);
}

.magic-mine {
width: 520px;
display: inline-block;
vertical-align: top;
}

.field-tein {
display: inline-block;
vertical-align: top;
}

.modal .modal-header {
background: #48a1dd;
color: #fff;
}
.modal .modal-content {
overflow: hidden;
border: none;
}
.modal-form .s-t {
margin-bottom: 18px;
}
.modal-form .s-t span.tit {
display: inline-block;
width: 120px;
line-height: 32px;
height: 32px;
text-align: right;
}
.modal-form .show-b {
margin-bottom: 0;
}
.modal-form-right {
display: inline-block;
}
.slide-nav {
float: left;
height: 52px;
width: 50px;
background: url("../../img/slide-nav.png") no-repeat right center;
cursor: pointer;
}
.index-slide-nav {
    float: left;
    height: 52px;
    width: 25px;
    background: url("../../img/slide-nav.png") no-repeat right center;
    cursor: pointer;
}


.checkbox-mine {
margin:0 auto;
border-radius: 4px;
cursor: pointer;
display: inline-block;
width: 20px;
height: 20px;
border: solid 1px rgba(152, 166, 175, 1);
}
.checkbox-mine-ed {
border: solid 1px #48a0dc;
background: #48a0dc url("../../img/query-check.png") no-repeat center center;
}
.btn-a-href span {
margin-right: 20px;
}
.btn-a-href em {
display: inline-block;
vertical-align: top;
width: 20px;
height: 20px;
cursor: pointer;
margin-right: 12px;
border-radius: 50%;
border: solid 1px rgba(152, 166, 175, 1);
}
.btn-a-href em.select {
background: #fff;
padding-top: 5px;
border: solid 1px #48a0dc;
}
.btn-a-href em.select strong {
background: #48a0dc;
display: block;
border-radius: 50%;
width: 8px;
height: 8px;
margin: auto;
}

.closeFormInfo{
padding: 6px; padding: 0px 20px; border: 0px; text-align: center; line-height: 35px; background: rgb(156, 163, 169); color: white; border-radius: 2px;
}

.saveFormInfo{
padding: 6px; padding: 0px 20px; border: 0px; text-align: center; line-height: 35px;  border-radius: 2px;background: rgba(72, 160, 220, 1); color: white;
}

.new-header {
height: 40px;
background-color: #48a0dc;
border-bottom: none;
}
.new-header .logo {
height: 40px;
background-color: #48a0dc;
padding-top: 5px;
width: 185px;
padding-left: 16px;
}
.new-header .index-logo {
    height: 40px;
    background-color: #48a0dc;
    padding-top: 5px;
    width: 185px;
    padding-left: 16px;
}
.new-right-wrap {
top: 40px;
}


.senior-panel {
position: absolute;
width: 500px;
background: #fff;
border: 1px solid #44c4d7;
top: 34px;
left: 0;
font-size: 12px;
z-index: 999;
}

.senior-panel .sp-ty {
padding: 8px 10px;
border-bottom: 1px solid #f0f0f0;
}
.senior-search .custom-select-box {
display: inline-block;
vertical-align: top;
width: 32%;
}
.senior-search .input {
width: 116px;
}
.set-table-btn {
z-index: 100;
position: absolute;
right: 10px;
top: 8px;
width: 25px;
height: 25px;
background: url("../../img/img_new/set_icon.png") no-repeat center center;
}

.index-menu {
display: inline-block;
}
.index-menu span {
float: left;
padding: 0 20px;
height: 40px;
color: #fff;
cursor: pointer;
}
.index-menu .menu-item {
position: relative;
line-height: 40px;
}
.index-menu .slide-child {
display: inline-block;
vertical-align: top;
height: 40px;
width: 20px;
background: url("../../img/img_new/menu_arrow.png") no-repeat right center;

}
.index-menu .more {
color: #65ffef;
line-height: 40px;
}
.index-menu .more .slide-child {
background: url("../../img/img_new/more_arrow.png") no-repeat right center;

}
.index-menu span.def {
color: #65ffef;
border-bottom: 2px solid #65ffef;
background: #2f89c7;
}

.menu-slide {
display: none;
top: 40px;
position: absolute;
width: 100%;
background: rgba(17, 64, 96, 0.9);
}
.menu-child {
float: left;
width: 102px;
margin-right: 22px;
}
.menu-child h3 {
color: #fff;
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 1px solid #4f7894;
}
.menu-child-s span {
display: block;
color: #a1cfee;
margin-bottom: 6px;
}
.menu-child h3 .sel {
float: right;
height: 16px;
width: 16px;
border-radius: 50%;
background-color: #5884a2;
}
.menu-child h3 .check {
background: #5884a2 url("../../img/img_new/menu_check.png") no-repeat center center;
}
.menu-child-s .tag em.check {
    background: #5884a2 url("../../img/img_new/menu_check.png") no-repeat center center;
}
.child-menu-panel {
display: none;
position: absolute;
top: 40px;
width: 200px;
left: 0;
background: rgba(17, 64, 96, 0.9);
color: #a1cfee;
padding: 4px;
}
.child-menu-panel li {
margin: 0;
padding: 8px;
line-height: normal;
font-size: 12px;
color:#a1cfee;
}



.common-container .menu-compact {
width: 70px;
overflow: visible
}
.menu-compact .nav-list {
position: relative;
}
.menu-compact .nav-list:hover .nav-child-list {
display: block !important;
}
.menu-compact .nav-list .nav-title {
text-align: center;
padding-left: 0;
height: 70px;
padding-top: 10px;
line-height: normal;
overflow: hidden;
background: #2d89c8;
}
.menu-compact .nav-list .nav-title .icons {
display: block;
margin: 0 auto 4px;
}
.menu-compact .nav-child-list {
display: none !important;
position: absolute;
padding-left: 20px;
z-index: 999;
left: 70px;
top: 0;
width: 130px;
background: rgba(33,101,148,0.9)
}
.menu-compact .nav-child-list li {
padding-left: 0;
}
.menu-compact .nav-list .nav-title-slide {
background: #48a0dc;
}
.common-container .menu-compact  .txt {
width: 30px;
display: block;
margin: 0 auto;
height: 22px;
overflow: hidden;
}
.logo-compact {
padding-left: 0;
width: 70px;
}
.logo-compact .logo-sm {
display: block;
margin: 0 auto;
}
.logo-compact .logo-lg {
display: none;
}

.common-container .content-compact {
padding-left: 70px;
}

.ms-ctn.form-control {
border: solid 1px rgba(212, 222, 229, 1);
}
.ms-ctn .ms-trigger .ms-trigger-ico {
display: none !important;
}

.ms-ctn .ms-trigger {
background: url("../../img/select-arrow.png") no-repeat center center !important;
}

.before-right-wrap {
    top: 0;
}
.select-row-bg{
    background-color: #deeeff;
}
.table>tbody>tr.select-row-bg>td, .table>tbody>tr.select-row-bg>th, .table>tbody>tr>td.select-row-bg, .table>tbody>tr>th.select-row-bg, .table>tfoot>tr.select-row-bg>td, .table>tfoot>tr.select-row-bg>th, .table>tfoot>tr>td.select-row-bg, .table>tfoot>tr>th.select-row-bg, .table>thead>tr.select-row-bg>td, .table>thead>tr.select-row-bg>th, .table>thead>tr>td.select-row-bg, .table>thead>tr>th.select-row-bg{
    background-color: #deeeff;
}
.resizeMe{
    background-repeat: repeat;
    background-attachment: scroll;
    color: #3969A5;
    overflow: hidden;
    z-index: 2;
    border: 2px outset white;
}

.icon-dot-red{
width:14px;
height:14px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background: red;
float: left;
margin: 5px;
}
.background_dot_item{
height: 30px;
width: 100%;
}
.iconDotDiv{
height: 25px;
}
.icon-dot-blue{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: blue;
    float: left;
    margin: 5px;
}
.icon-dot-green{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: green;
    float: left;
    margin: 5px;
}
.icon-dot-gray{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: gray;
    float: left;
    margin: 5px;
}
.icon-dot-yellow{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: yellow;
    float: left;
    margin: 5px;
}
.icon-dot-resolved{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #36be8c;
    float: left;
    margin: 5px;
}
.icon-dot-huifu{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #42d0f6;
    float: left;
    margin: 5px;
}
.icon-dot-close{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #718391;
    float: left;
    margin: 5px;
}
.icon-dot-audit{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f4ba32;
    float: left;
    margin: 5px;
}
.icon-dot-design{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #927ce1;
    float: left;
    margin: 5px;
}
.icon-dot-develop{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #4eb0ef;
    float: left;
    margin: 5px;
}
.icon-dot-develop-complete{
    width:14px;
    height:14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #6381f9;
    float: left;
    margin: 5px;
}
.index-nav-item .head_nav_tab{
    background: url("../../../assetsv1/img/delete-circle.png") no-repeat center;
    width:16px;
    height:16px;
    position: absolute;
    right:5px;
} */

 #tab-main #list_grid {
     width: 100% !important;
 }

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 #tab-main .ui-jqgrid-hdiv .ui-jqgrid-hbox {
     width: 100% !important;
 }

 #tab-main .ui-jqgrid-hbox .table {
     width: 100% !important;
 }

 #tab-main .ui-jqgrid .ui-jqgrid-hbox {
     padding-right: 0px !important;
 }

 #list_gridPager table td {
     border: 0px;
 }