

.tag {
    height:24px;
}

.btn-more {
    background-color:#fff;
    font-size:16px;
}
.btn-add {
     font-size:16px;
}
.user-seting {
    line-height:1;
    padding-top:10px;
   
}
.user-seting .out {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background: url(../../img/icon_back.png) no-repeat center center;
    border-right:0px;
}
.user-seting img {
    padding:0px 10px 0px 0px;
}
.user-seting span {
   padding:0px 10px;
   border-right: 1px solid #fff;
   color: #fff;
}

