.radiox em.select {
    background: #48a0dc;
    border: solid 1px #48a0dc;
}

.radiox em.select {
    padding-top: 5px;
    border: solid 1px #48a0dc;
}

.radiox em {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 50%;
    border: solid 1px rgba(152, 166, 175, 1);
}

#field_show_setting {
    /*	height: 500px;*/
    overflow-y: auto;
}

.form-set-wrap {
    border: 1px solid #d4dee5;
    padding: 16px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.radiox em.select {
    background: #48a0dc;
    border: solid 1px #48a0dc;
}

.radiox em.select {
    padding-top: 5px;
    border: solid 1px #48a0dc;
}

.radiox em {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 50%;
    border: solid 1px rgba(152, 166, 175, 1);
}

#field_show_setting {
    overflow-y: auto;
}

.form-set-wrap {
    border: 1px solid #d4dee5;
    padding: 16px;
}

.form-set-tit span {
    width: 20%;
    float: left;
    height: 40px;
    line-height: 40px;
    box-shadow: inset -1px 0 0 #cdd9e3;
    text-align: center;
}

.form-set-c span {
    padding-top: 0px;
    width: 20%;
    float: left;
    height: 40px;
    line-height: 40px;
    box-shadow: inset -1px 0 0 #e9eef1;
    text-align: center;
}

.form-set-c span.fs-t {
    padding-top: 12px;
}

.new-right-wrap .config-c {
    padding-top: 16px;
}

.config-content .cbox {
    display: none;
}

.config-content .cbox.def {
    display: block;
}

.list-title {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 14px;
}

.layout-define {
    position: relative;
}

.form-label-s {
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
}

.form-label-s label {
    width: 71px;
    line-height: 34px;
}

.form-label-s .input {
    width: 180px;
}

.select-form-t .input {
    width: 490px;
}

.l-h2 {
    line-height: 50px;
}

.form-set-wrap {
    border: 1px solid #d4dee5;
    padding: 14px;
}

.form-set-tit {
    height: 40px;
    line-height: 40px;
    background: #dee9f2;
}

.form-set-tit span {
    width: 20%;
    float: left;
    height: 40px;
    line-height: 40px;
    box-shadow: inset -1px 0 0 #cdd9e3;
    text-align: center;
}

.form-set-c span:nth-last-child(1),
.form-set-tit span:nth-last-child(1) {
    box-shadow: none;
}

.form-set-c {
    height: 40px;
    line-height: 40px;
}

.form-set-c span {
    padding-top: 0px;
    width: 20%;
    float: left;
    height: 40px;
    line-height: 40px;
    box-shadow: inset -1px 0 0 #e9eef1;
    text-align: center;
}

.form-set-c:nth-child(even) {
    background: #f6f6f6;
}

.form-set-c .fs-t {
    padding-left: 12px;
    color: #3a7cb1;
    padding-top: 12px;
}

.fb-twrap {
    border-bottom: 1px solid #bacbd6;
}

#fb_content {
    display: none;
}

.fb-twrap span.tit {
    cursor: pointer;
    position: relative;
    line-height: 30px;
    background: #b2c8d7;
    float: left;
    padding-left: 10px;
    padding-right: 40px;
    color: #fff;
    border-radius: 10px 30px 0px 0px;
}

.fb-twrap span.def {
    background: #789cb6;
}

.fb-twrap span.tit em {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    width: 30px;
    height: 30px;
    background: url("../../img/close-no-circle.png") no-repeat center center;
}

.select-wrap .custom-select {
    background: #fff;
    width: 110px;
    margin-right: 10px;
}

.select-wrap {}

.canshu-wrap .custom-select {
    width: 200px;
}

.canshu-wrap .field-tein .input {
    width: 200px;
}

.tj-set-child {
    margin-bottom: 10px;
}

.select-wrap .custom-select .input {
    width: 72px;
}

.canshu-wrap .custom-select .input {
    width: 160px;
}

.fb-content .sm-tit {
    line-height: 46px;
}

.fb-content .del-tj {
    display: block;
    width: 20px;
    height: 35px;
    cursor: pointer;
    background: url("../../../img/delete-selete.png") no-repeat center center;
}

.del-tj-w {
    display: inline-block;
    vertical-align: top;
}

.edictor4 {
    display: none;
}

.fb-content-wrap .fb-content {
    display: none;
}

.fb-content-wrap .fb-conten-s {
    display: block;
}

.checkbox-mine-wrap span {
    margin-right: 72px;
}

.checkbox-mine-wrap .checkbox-mine {
    margin-right: 10px;
    vertical-align: middle;
}

/*开始样式标签*/

.field_value_conver {
    width: 720px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 110px;
    bottom: 90px;
}

.field_value_conver .field_options_menu {
    padding: 15px;
}

.field_value_conver .panel-sm-tit {
    height: 50px;
    line-height: 50px;
    clear: both;
}

.field_value_conver .add_field_conver_btn {
    float: right;
    margin-top: 10px;
}

.field_value_conver .add_field_reference_btn {
    float: right;
    margin-top: 10px;
}

.field_value_conver .field_color_item .color_c_result {
    margin: 10px;
}

.field_value_conver .field_color_item .color_c_result .color_c_result_txt {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px rgba(212, 222, 229, 1);
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.field_value_conver .field_color_item .color_c_result .color_c_result_txt .color_colose_div {
    position: absolute;
    background: red;
    width: 12px;
    height: 12px;
    line-height: 12px;
    color: #ffffff;
    right: 0px;
    top: 0px;
    text-align: center;
    border-radius: 2px;
}

.list_m_content {
    position: absolute;
    top: 110px;
    bottom: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    width: 750px;
}

/*结束样式标签*/

.del-tj {
    display: block;
    width: 20px;
    height: 35px;
    cursor: pointer;
    background-color: red;
    /*background: url("../../img/delete-selete.png") no-repeat center center;*/
}

.del-tj-w {
    display: inline-block;
    vertical-align: top;
}

.senior-panel .tit-txt {
    padding: 10px;
}

.senior-panel .tit-txt .same {
    padding: 0 5px;
    cursor: pointer;
}

.senior-panel .tit-txt .add {
    color: #48a0dc;
    padding: 0 5px;
    cursor: pointer;
}

.custom-select,
.input {
    outline: none;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px rgba(212, 222, 229, 1);
    height: 32px;
    text-indent: 16px;
    color: #38454f;
    width: 332px;
}

.checkbox-mine {
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px rgba(152, 166, 175, 1);
}

em,
strong {
    font-style: normal;
    font-weight: normal;
}

.arrow-label {
    padding-left: 20px;
    color: #48a0dc;
    font-size: 14px;
    cursor: pointer;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

.list-title span.def {
    border-bottom: 2px solid rgb(47, 145, 211);
    color: rgb(47, 145, 211);
}

.list-title span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 20px 10px;
}

.arrow-label {
    float: none;
}

.panel-sm-tit {
    height: 40px;
    line-height: 40px;
}
